.contenedor{
    width: 100vw;
    height: 48vw;
    background-color: rgb(134, 22, 22);
    display: flex;
    justify-content: center
}
.contenedor2{
    position: relative;
    left: -2vw;
    margin: 2vw;
    width: 75vw;
    height: 44vw;
    background-color: aliceblue;
    border-radius: 2vw;
}
html{
    scroll-behavior: smooth;
}
.contenedor3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    position: relative;
    left: 3vw;
    display: flex;
    justify-content: center;
    background-color:  rgb(134, 22, 22);
    margin: 2vw;
    width: 15vw;
    height: 44vw;
    text-align: center;
    gap: 8vw;
}
#titulo{
    font-size: 2vw;
    color: darkgreen;
}
.contenidoCarrito{
    display: flex;
    position: relative;
    font-size: 1.4vw;
    top: -5vw;
    gap: 1vw;
    justify-content: center;
}
.contenidoultimo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -4vw;
    gap: 1vw;
    font-size: 1.2vw;
    color: darkgreen;
}
.contador{
    display: flex;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    background-color: aliceblue;
}
.cuadro1{
    position: relative;
    top: -1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    width: 15vw;
    height: 18vw;
    border-radius: 2vw;
    background-color: rgb(68, 136, 68);
}
.cuadro2{
    top: 23vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    width: 15vw;
    height: 18vw;
    border-radius: 2vw;
    background-color: rgb(68, 136, 68);
}
.cuadro3{
    top: 23vw;
    position: absolute;
    left: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    width: 15vw;
    height: 18vw;
    border-radius: 2vw;
    background-color: rgb(68, 136, 68);
}
.cuadro4{
    top: 23vw;
    position: absolute;
    left: 34vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    width: 15vw;
    height: 18vw;
    border-radius: 2vw;
    background-color: rgb(68, 136, 68);
}
.cuadro5{
    top: 23vw;
    position: absolute;
    left: 51vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    width: 15vw;
    height: 18vw;
    border-radius: 2vw;
    background-color: rgb(68, 136, 68);
}
.subcuadro{
    position: absolute;
    top: 14vw;
    width: 15vw;
    height: 4vw;
    background-color: rgb(202, 204, 206);
    border-radius: 1vw;
}
a{
    text-decoration: none;
    color: darkgreen;
}
#tituloAbrigo{
    margin: 1vw;
    font-size: 2vw;
    color: darkgreen;
}
.cuadros{
    display: flex;
}
.textoProductos{
    font-size: 1.5vw;
    position: relative;
    top: -7vw;
    display: flex;
    gap: 2vw;
    flex-direction: column;
    
}
.abriggo{
    top: -1vw;
    position: relative;
    left: 1vw;
    color:  darkgreen;
    font-size: 1vw;
}
#Abrigo1{
    position: relative;
    top: -1vw;
    width: 10vw;
    height: 10vw;
}
a:hover{
    background-color: aliceblue;
}
.contenidoSubcuadro{
    display: flex;
    gap: 4vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    color:  darkgreen;
}
#Agregar{
    color: aliceblue;
    background-color: darkgreen;
    width: 4vw;
    height: 1.2vw;
    font-size: 1vw;
    border-radius: 0.2vw;
    display: flex;
    justify-content: center;

}
.letrac{
    border: 1px solid darkgreen;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 5vw;
}
@media screen and (max-width: 430px){

}